@font-face {
    font-family: 'neue_haas_grotesk_display65Md';
    src: url('neuehaasdisplay-mediu-webfont.woff2') format('woff2'),
         url('neuehaasdisplay-mediu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neue_haas_grotesk_disp55roman';
    src: url('neuehaasdisplay-roman-webfont.woff2') format('woff2'),
         url('neuehaasdisplay-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}