body {
    background-color: black;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
}

.preloaderBg {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloaderLogo {
    width: 100px;
    height: 100px;
}

.path1, .path2, .path3 {
    fill: white;
    transform-origin: center;
    animation-fill-mode: forwards;
}
  
.path1 {
    animation: animatePath1 1.5s ease;
}

.path2 {
    animation: animatePath2 1s ease;
}

.path3 {
    animation: animatePath3 1.5s ease;
}
  
@keyframes animatePath1 {
    0% {
      transform: translateX(50%) translateY(-50%);
      opacity: 0;
    }
    30%{
      opacity: 0;
    }
    100% {
      transform: translateX(0%) translateY(0%);
      opacity: 100%;
    }
}
  
@keyframes animatePath2 {
    0% {
      transform: translateX(-50%) translateY(50%);
      opacity: 0;
    }
    30%{
      opacity: 0;
    }
    100% {
      transform: translateX(0%) translateY(0%);
      opacity: 100%;
    }
}
  
@keyframes animatePath3 {
    0% {
      transform: translateX(50%) translateY(-50%);
      opacity: 0;
    }
    30%{
      opacity: 0;
    }
    100% {
      transform: translateX(0%) translateY(0%);
      opacity: 100%;
    }
}


@font-face {
    font-family: 'loybox-medium';
    src: url('./fonts/loybox-medium.woff2') format('woff2'),
         url('./fonts/loybox-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loybox-roman';
    src: url('./fonts/loybox-roman.woff2') format('woff2'),
         url('./fonts/loybox-roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(0, 0, 0);

  }

    /* Estilos para la barra de desplazamiento (la parte que se arrastra) */
    ::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    }

    /* Estilos para la barra de desplazamiento (hover) */
    ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 255, 255);
    }

::selection {
    background-color: black;
    color: white;
}

.landing-user{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}

.landing-user-navbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 1620px;
    padding-top: 50px;
    align-items: center;
}

.landing-user-navbar-main{
    display: flex;
}

.loybox-text{
    color: var(--white, #FFF);
    font-family: 'loybox-medium';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: auto 0 auto 25px;
}

.landing-user-navbar-buttons{
    display: flex;
    align-items: center;
}

.landing-user-navbar-button,
.landing-user-navbar-button-register{
    font-family: 'loybox-medium';
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-right: 70px;
}

.landing-user-navbar-button-register{
    color: var(--white, #FFF);
    border: 1px white solid;
    padding: 0px 30px;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.2s;
    min-width: 113px;
    align-items: center;
    display: flex;
    margin-right: 0 !important;
}

.landing-user-navbar-button {
    text-decoration: line-through;
    color: #9F9F9F;
    font-weight: 500;
    position: relative;
}

.landing-user-navbar-button-registrate-img{
    margin-right: 10px;
    transition: all 0.1s;
}

.textTitle{
    display: flex;
    flex-direction: column;
    width: 871px;
    margin: 140px auto 140px;
}

.subtitle{
    color: var(--White, #FFF);
    text-align: center;
    font-family: 'loybox-roman';
    font-size: 24px;
    font-weight: 500;
    width: 419px;
    margin: 0 auto;
}

.title{
    color: var(--White, #FFF);
    text-align: center;
    font-family: 'loybox-roman';
    font-size: 80px;
    font-weight: 500;
    width: 871px;
    margin: 30px 0 40px 0;
}

.titleBold{
    font-weight: 600 !important;
}

.buttonsWhitelist-Email{
    height: 65px;
    max-width: 507px;
    margin: 0 auto;
}

.whitelist{
    width: 225px;
    height: 65px;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    transition: all 0.3s ease;
    border: 1px solid #000;

}

.whitelist:hover {
    filter: invert(1);

}

.whitelistText{
    color: var(--Black, #000);
    font-family: 'loybox-medium';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

a{
    text-decoration: none !important;
}

.email{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 275px;
    height: 65px;
    transition: all 0.3s ease;
}

.emailText{
    color: var(--White, #FFF);
    font-family: 'loybox-medium';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.email:hover{
    transform: translateY(-10px)
}

.imagenes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px
}

.imagen{
    margin: auto;
    width: 100%;
    max-width: 1620px;
    height:100%;
}

.imagen1{
    margin: auto;
    width: 100%;
    max-width: 1620px;
    height:100%;
}

.title2{
    color: var(--White, #FFF);
    text-align: center;
    font-family: 'loybox-roman';
    font-size: 60px;
    font-weight: 500;
    width: 1115px;
    margin: 350px auto 200px auto;
}

.loyvectors{
    width: 100%;
    margin: 0;
}

.whiteBackground{
    margin: auto;
    background-color: white;
    width: 100%;
    margin-top: -5px;
    padding: 80px 0 80px 0;
}

.whiteBackground2{
    background-color: white;
    width: 100%;
    padding: 0px 0 30px 0;
    margin: 0 auto 0 auto;
    text-align: center;
}

.divWhite{
    display: flex;
    max-width: 1620px;
    margin: -4px auto 0 auto;
    justify-content: space-between;
    padding: 80px 20px 0 20px;
    align-items: center;
}

.formWhite{
    display: flex;
}

.inputFormWhite{
    display: flex;
    width: 437px;
    height: 70px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid var(--Border-White, #EEE);
    background: var(--Input-White, #FBFBFB);
    color: var(--Light-Grey, #000);
    font-family: 'loybox-roman';
    font-size: 20px;
    font-weight: 500;
    padding-left: 30px;
}

.inputFormWhite::placeholder{
    color: var(--Light-Grey, #9F9F9F);
    font-family: 'loybox-roman';
    font-size: 20px;
    font-weight: 500;
}

.buttonFormWhite{
    display: flex;
    height: 74px;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    background: var(--Black, #000);
    border: none;
    cursor: pointer;

}

.title3{
    color: var(--Black, #000);
    font-family: 'loybox-medium';
    font-size: 26.31666666666668vw;
    font-weight: 600;
    margin: 0 auto 0 auto;
}

.buttonFormWhiteText{
    color: var(--White, #FFF);
    font-family: 'loybox-medium';
    font-size: 20px;
    font-weight: 600;
}

.divWhiteTitle{
    color: var(--Black, #000);
    text-align: center;
    font-family: 'loybox-roman';
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    max-width: 673px;
}

.topcredit{
    padding: 0 20px;
}

.credits{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1620px;
    margin: 30px auto 0 auto;
    border-top: 1px solid #EEE;
    padding-top:30px;
}

.creditsText{
    color: var(--Black, #000);
    font-family: 'loybox-roman';
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.socialIcons a {
    transition: all .3s ease;
    cursor: pointer;

}

.socialIcons a:hover {
    transform: translateY(-10px);
}

@media (max-width: 1400px)  {

    .landing-user-navbar {
        padding-top: 30px;
    }

    .landing-user-navbar-button{
        display: none;
    }
    .title2{
        font-size: 33.49px;
        max-width: 325px;
        margin: 200px auto 200px auto;
    }
    .divWhiteTitle{
        font-size: 28.95px;
    }
}

@media (max-width: 1100px)  {
    .divWhite{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .imagenes {
        gap: 20px;
    }
}

@media (max-width: 1000px)  {
    .title{
        font-size: 37.31px;
        max-width: 325px;
        margin: 20px auto 40px auto;

    }

    .buttonsWhitelist-Email{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .subtitle{
        display: none;
    }

    .textTitle{
        max-width: 325px;
        margin: 100px auto 200px;
    }
    .lista{
        text-align: center;
    }
}

@media (max-width: 900px)  {

    .loyboxandlogo{
        height: 26.3px;
        width: 117px;
    }

    .landing-user-navbar-button-register{
        width: 150.65px;
        height: 43.34px;
        font-size: 13.54px;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .landing-user-navbar-button-register svg{
        width: 16.25px;
        height: 16.25px;
    }

    .preloaderVideo {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 750px)  {
    .formWhite{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .inputFormWhite{
        border-radius: 20px;
        max-width: 262px;
        width: 100%;
        padding-right: 30px;
    }

    .buttonFormWhite{
        border-radius: 20px;
        width: 325px;
        display: flex;
        height: 74px;
        padding: 20px 30px;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .formWhite{
        max-width: 325px;
        width: 100%;
    }
}

@media (max-width: 500px)  {
    .credits {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 5px;
    }
}
